<p id="notice"><%= notice %></p>

<p>
  <b>Name</b>
  <%= @user.name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Number:</b>
  <%= @user.number %>
</p>

<p>
  <b>HasPassword?:</b>
  <%= @user.encrypted_password!=nil %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
