<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @location.number %>
</p>

<p>
  <b>Lon:</b>
  <%= @location.lon %>
</p>

<p>
  <b>Lat:</b>
  <%= @location.lat %>
</p>

<p>
  <b>Dist:</b>
  <%= @location.dist %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
